body {
	text-align: center;
	font-size: xx-large;
	font-family: "papyrus";
	filter: blur(5px);
}

img {
	width: 100%;
	height: 100%;
}

.background {
  position: fixed;
  left: 0;
  right: 0;
  z-index: -1;

  display: block;

  width: 100%;
  height: 100%;

  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

div .day .hour .current{
	display: inline-block;
	color: salmon;
	margin: auto;

}

h1 {
	font-size: large;
	text-decoration: underline;
	padding: 0;
}

h2 {

	font-size: 70px;
}

p {
	color: salmon;
	font-size: 45px;
	padding: 0;


}

.current {
	padding: 1%;
	font-size: 80px;
}

.day,.hour, .current {
	display: inline-block;
	background:lavender;
	color:salmon;
	border: 1px solid white;
	margin: 0.2%;


}

div .current {

	width: 55%;
	margin:auto;
	text-align: center;
	height: 60%;
	
}


.day, .hour {
	padding: 1%;
}
#buttons button:hover {
	color: grey;
}


#buttons {
	width: 100%;
	margin: auto;
}

#buttons button {
	background: ligthgrey;

	color: whitesmoke;
	font-family: "papyrus";
	width: 137px;
	margin: 0px 0px 0 0px;
	font-size: 25px;
	box-shadow: none;
	border: none;
}

#container {
	text-align: center;
	margin-top:5%;
}




