body {
	text-align: center;
	font-size: xx-large;
	font-family: "papyrus";
}

img {
	width: 100%;
	height: 100%;
}

.background {
  position: fixed;
  z-index: -1;

  display: block;

  width: 100%;
  height: 100%;

  filter: blur(5px);
}

div .day .hour .current{
	display: inline-block;
	color: salmon;
	margin: auto;

}


div .current {

	width: 55%;
	margin:auto;
	text-align: center;
	height: 60%;
	
}

h1 {
	font-size: large;
	text-decoration: underline;
	padding: 0;
}

h2 {

	font-size: 70px;
}

p {
	color: salmon;
	font-size: 45px;
	padding: 0;


}


.day,.hour, .current {
	display: inline-block;
	background:lavender;
	color:salmon;
	border: 1px solid white;
	margin: 0.2%;


}

.day, .hour {
	padding: 1%;
}

.current {
	padding: 1%;
	font-size: 80px;
}



#buttons button:hover {
	color: grey;
}


#buttons {
	width: 100%;
	margin: auto;
}

#buttons button {
	background: ligthgrey;

	color: whitesmoke;
	font-family: "papyrus";
	width: 137px;
	margin: 0px 0px 0 0px;
	font-size: 25px;
	box-shadow: none;
	border: none;
}

#container {
	text-align: center;
	margin-top:5%;
}


input {
    border: 2px solid white; 
    -webkit-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    -moz-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    padding: 15px;
    background: rgba(255,255,255,0.5);
    margin: 3%;
    width: 5%;
    height: 5px;
    font-family: "papyrus";
}

input:focus, textarea:focus {
    outline: none;
    color: salmon;
    text-align: center;
     font-weight: bold;

}

#loadingGif {
	width: 20%;
	height: 20%;
	margin: auto;
}

